@{
	ViewData["Title"] = "Haggai";
}

<div class="container my-card-radius border-dark bg-gray-light my-0 my-md-3 py-2">

	<!-- Heading -->
	<div class="row gx-0 gx-lg-4">

		<!-- Back Button -->
		<div class="col-3 pt-1 mb-1">
			<div class="h-100 text-center text-white">
				<a class="btn bg-gray-darker btn-sm group-button-size" href="~/Bible">
					<img alt="" class="back-button-image-size" src="~/lib/svg/Buttons/Back-White.svg" />
				</a>
			</div>
		</div>

		<!-- Old Testament Heading -->
		<div class="col-7 mb-2">
			<p class="fw-bolder fs-1 text-center text-gray-darker pt-2">Old Testament</p>
		</div>
	</div>

	<!-- Card -->
	<div class="container my-card-radius bg-gray-lighter my-3">
		<div class="row gx-0 gx-lg-4 my-3">

			<!-- Column Book -->
			<div class="col-12 col-xl-2">
				<p class="text-gray-darker fw-bolder text-nowrap fs-5 lh-lg">Haggai</p>
			</div>

			<!-- Column Chapters -->
			<div class="col-12 col-xl-10 text-gray-darker m-0 p-0">
				<p class="fs-5 lh-lg">
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=44&amp;chapter=1&amp;version=31" target="_blank">1</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=44&amp;chapter=2&amp;version=31" target="_blank">2</a>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- End Content -->

<!-- Extra padding before footer if needed -->
<div class="haggai-view-bottom-spacingx"></div>