@{
	ViewData["Title"] = "3 John";
}

<div class="container my-card-radius border-dark bg-green-lighter my-0 my-md-3 py-2">

	<!-- Heading -->
	<div class="row gx-0 gx-lg-4">
		<!-- Back Button -->
		<div class="col-3 pt-1 mb-1">
			<div class="h-100 text-center text-white">
				<a class="btn bg-green-darker btn-sm group-button-size" href="~/Bible/NewTestament">
					<img alt="" class="back-button-image-size" src="~/lib/svg/Buttons/Back-White.svg" />
				</a>
			</div>
		</div>

		<!-- New Testament Heading -->
		<div class="col-7 mb-2">
			<p class="fw-bolder fs-1 text-center text-green-darker pt-2">New Testament</p>
		</div>
	</div>

	<!-- 3 John -->
	<div class="container my-card bg-gray-lighter my-3">   
		<div class="row gx-0 gx-lg-4 my-3">

			<!-- Column Book -->
			<div class="col-12 col-xl-2">
				<p class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg">3 John</p>
			</div>

			<!-- Column Chapters -->
			<div class="col-12 col-xl-10 text-gray-darker m-0 p-0">
				<p class="fs-5 lh-lg">
					<a class="px-1 text-green-darker" href="http://www.biblegateway.com/passage/?book_id=71&amp;chapter=1&amp;version=31" target="_blank">1</a>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- End Content -->

<!-- Extra padding before footer if needed -->
<div class="john3-view-bottom-spacingx"></div>