@{
    ViewData["Title"] = "New Testament";
}

<partial name="NewTestamentPartial" />
<!-- End Content -->

<!-- Extra padding before footer if needed -->
<div class="newtestament-view-bottom-spacingx"></div>