@{
    ViewData["Title"] = "New Testament";
}

<div class="container my-card-radius border-dark bg-green-lighter py-2 my-0 my-lg-3">

	<!-- Heading -->
	<div class="row gx-0 gx-lg-4">

		<!-- Back Button -->
		<div class="col-3 pt-1 mb-1">
			<div class="h-100 text-center text-white">
				<a class="btn bg-green-darker btn-sm group-button-size" href="~/Bible">
					<img alt="" class="back-button-image-size" src="~/lib/svg/Buttons/Back-White.svg" />
				</a>
			</div>
		</div>

		<!-- New Testament Heading -->
		<div class="col-7 mb-2">
			<p class="fw-bolder fs-1 text-center text-green-darker pt-2">New Testament</p>
		</div>
	</div>

	<!-- Books -->
	<div class="container my-card bg-gray-lighter my-3">  
		<div class="row gx-0 gx-lg-4 my-3">

			<!-- Column Matthew -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Matthew" target="_self">Matthew</a>
			</div>	
			
			<!-- Column Mark -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Mark" target="_self">Mark</a>
			</div>				

			<!-- Column Luke -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Luke" target="_self">Luke</a>
			</div>

			<!-- Column John -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/John" target="_self">John</a>
			</div>

			<!-- Column Acts -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Acts" target="_self">Acts</a>
			</div>

			<!-- Column Romans -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Romans" target="_self">Romans</a>
			</div>

			<!-- Column 1 Corinthians -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Corinthians1" target="_self">1 Corinthians</a>
			</div>

			<!-- Column 2 Corinthians -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Corinthians2" target="_self">2 Corinthians</a>
			</div>

			<!-- Column Galatians -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Galatians" target="_self">Galatians</a>
			</div>

			<!-- Column Ephesians -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Ephesians" target="_self">Ephesians</a>
			</div>

			<!-- Column Philippians -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Philippians" target="_self">Philippians</a>
			</div>

			<!-- Column Colossians -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Colossians" target="_self">Colossians</a>
			</div>

			<!-- Column 1 Thessalonians -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Thessalonians1" target="_self">1 Thessalonians</a>
			</div>

			<!-- Column 2 Thessalonians -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Thessalonians2" target="_self">2 Thessalonians</a>
			</div>

			<!-- Column 1 Timothy -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Timothy1" target="_self">1 Timothy</a>
			</div>

			<!-- Column 2 Timothy -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Timothy2" target="_self">2 Timothy</a>
			</div>

			<!-- Column Titus -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Titus" target="_self">Titus</a>
			</div>

			<!-- Column Philemon -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Philemon" target="_self">Philemon</a>
			</div>

			<!-- Column Hebrews -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Hebrews" target="_self">Hebrews</a>
			</div>

			<!-- Column James -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/James" target="_self">James</a>
			</div>

			<!-- Column 1 Peter -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Peter1" target="_self">1 Peter</a>
			</div>

			<!-- Column 2 Peter -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Peter2" target="_self">2 Peter</a>
			</div>

			<!-- Column 1 John -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/John1" target="_self">1 John</a>
			</div>

			<!-- Column 2 John -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/John2" target="_self">2 John</a>
			</div>

			<!-- Column 3 John -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/John3" target="_self">3 John</a>
			</div>

			<!-- Column Jude -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Jude" target="_self">Jude</a>
			</div>

			<!-- Column Revelation -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-green-darker fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Revelation" target="_self">Revelation</a>
			</div>

		</div>
	</div>
</div>
<!-- End Content -->