@{
    ViewData["Title"] = "Old Testament";
}

<div class="container my-card-radius border-dark bg-gray-light py-2 my-0 my-lg-3">

	<!-- Heading -->
	<div class="row gx-0 gx-lg-4">		

		<!-- Old Testament Heading -->
		<div class="col-12 mb-2">
			<p class="fw-bolder fs-1 text-center text-gray-darker pt-2">Old Testament</p>
		</div>
	</div>

	<!-- Books -->
	<div class="container my-card-radius bg-gray-lighter my-3">  
		<div class="row gx-0 gx-lg-4 my-3">

			<!-- Column Genesis -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Genesis" target="_self">Genesis</a>
			</div>
			
			<!-- Column Exodus -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Exodus" target="_self">Exodus</a>
			</div>

			<!-- Column Leviticus -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Leviticus" target="_self">Leviticus</a>
			</div>

			<!-- Column Numbers -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Numbers" target="_self">Numbers</a>
			</div>

			<!-- Column Deuteronomy -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Deuteronomy" target="_self">Deuteronomy</a>
			</div>

			<!-- Column Joshua -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Joshua" target="_self">Joshua</a>
			</div>

			<!-- Column Judges -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Judges" target="_self">Judges</a>
			</div>

			<!-- Column Ruth -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Ruth" target="_self">Ruth</a>
			</div>

			<!-- Column 1 Samuel -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Samuel1" target="_self">1 Samuel</a>
			</div>

			<!-- Column 2 Samuel -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Samuel2" target="_self">2 Samuel</a>
			</div>

			<!-- Column 1 Kings -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Kings1" target="_self">1 Kings</a>
			</div>

			<!-- Column 2 Kings -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Kings2" target="_self">2 Kings</a>
			</div>

			<!-- Column 1 Chronicles -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Chronicles1" target="_self">1 Chronicles</a>
			</div>

			<!-- Column 2 Chronicles -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Chronicles2" target="_self">2 Chronicles</a>
			</div>

			<!-- Column Nehemiah -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Nehemiah" target="_self">Nehemiah</a>
			</div>

			<!-- Column Esther -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Esther" target="_self">Esther</a>
			</div>

			<!-- Column Job -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Job" target="_self">Job</a>
			</div>

			<!-- Column Psalms -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Psalms" target="_self">Psalms</a>
			</div>

			<!-- Column Proverbs -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Proverbs" target="_self">Proverbs</a>
			</div>

			<!-- Column Ecclesiastes -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Ecclesiastes" target="_self">Ecclesiastes</a>
			</div>

			<!-- Column Song of Solomon -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/SongofSolomon" target="_self">Song of Solomon</a>
			</div>

			<!-- Isaiah -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Isaiah" target="_self">Isaiah</a>
			</div>

			<!-- Jeremiah -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Jeremiah" target="_self">Jeremiah</a>
			</div>

			<!-- Lamentations -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Lamentations" target="_self">Lamentations</a>
			</div>

			<!-- Ezekiel -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Ezekiel" target="_self">Ezekiel</a>
			</div>

			<!-- Daniel -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Daniel" target="_self">Daniel</a>
			</div>

			<!-- Hosea -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Hosea" target="_self">Hosea</a>
			</div>

			<!-- Joel -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Joel" target="_self">Joel</a>
			</div>

			<!-- Amos -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Amos" target="_self">Amos</a>
			</div>

			<!-- Obadiah -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Obadiah" target="_self">Obadiah</a>
			</div>

			<!-- Jonah -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Jonah" target="_self">Jonah</a>
			</div>

			<!-- Micah -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Micah" target="_self">Micah</a>
			</div>

			<!-- Nahum -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Nahum" target="_self">Nahum</a>
			</div>

			<!-- Habakkuk -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Habakkuk" target="_self">Habakkuk</a>
			</div>

			<!-- Zephaniah -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Zephaniah" target="_self">Zephaniah</a>
			</div>

			<!-- Haggai -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Haggai" target="_self">Haggai</a>
			</div>

			<!-- Zechariah -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Zechariah" target="_self">Zechariah</a>
			</div>

			<!-- Malachi -->
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<a class="text-gray-dark fw-bolder text-nowrap fs-5 lh-lg" href="/Bible/Malachi" target="_self">Malachi</a>
			</div>

		</div>
	</div>
</div>
<!-- End Content -->