@{
	ViewData["Title"] = "Psalms";
}

<div class="container my-card-radius border-dark bg-gray-light my-0 my-md-3 py-2">

	<!-- Heading -->
	<div class="row gx-0 gx-lg-4">

		<!-- Back Button -->
		<div class="col-3 pt-1 mb-1">
			<div class="h-100 text-center text-white">
				<a class="btn bg-gray-darker btn-sm group-button-size" href="~/Bible">
					<img alt="" class="back-button-image-size" src="~/lib/svg/Buttons/Back-White.svg" />
				</a>
			</div>
		</div>

		<!-- Old Testament Heading -->
		<div class="col-7 mb-2">
			<p class="fw-bolder fs-1 text-center text-gray-darker pt-2">Old Testament</p>
		</div>
	</div>

	<!-- Card -->
	<div class="container my-card-radius bg-gray-lighter my-3">
		<div class="row gx-0 gx-lg-4 my-3">

			<!-- Column Book -->
			<div class="col-12 col-xl-2">
				<p class="text-gray-darker fw-bolder text-nowrap fs-5 lh-lg">Psalms</p>
			</div>

			<!-- Column Chapters -->
			<div class="col-12 col-xl-10 text-gray-darker m-0 p-0">
				<p class="fs-5 lh-lg">
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=1&amp;version=31" target="_blank">1</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=2&amp;version=31" target="_blank">2</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=3&amp;version=31" target="_blank">3</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=4&amp;version=31" target="_blank">4</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=5&amp;version=31" target="_blank">5</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=6&amp;version=31" target="_blank">6</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=7&amp;version=31" target="_blank">7</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=8&amp;version=31" target="_blank">8</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=9&amp;version=31" target="_blank">9</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=10&amp;version=31" target="_blank">10</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=11&amp;version=31" target="_blank">11</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=12&amp;version=31" target="_blank">12</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=13&amp;version=31" target="_blank">13</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=14&amp;version=31" target="_blank">14</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=15&amp;version=31" target="_blank">15</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=16&amp;version=31" target="_blank">16</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=17&amp;version=31" target="_blank">17</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=18&amp;version=31" target="_blank">18</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=19&amp;version=31" target="_blank">19</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=20&amp;version=31" target="_blank">20</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=21&amp;version=31" target="_blank">21</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=22&amp;version=31" target="_blank">22</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=23&amp;version=31" target="_blank">23</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=24&amp;version=31" target="_blank">24</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=25&amp;version=31" target="_blank">25</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=26&amp;version=31" target="_blank">26</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=27&amp;version=31" target="_blank">27</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=28&amp;version=31" target="_blank">28</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=29&amp;version=31" target="_blank">29</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=30&amp;version=31" target="_blank">30</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=31&amp;version=31" target="_blank">31</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=32&amp;version=31" target="_blank">32</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=33&amp;version=31" target="_blank">33</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=34&amp;version=31" target="_blank">34</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=35&amp;version=31" target="_blank">35</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=36&amp;version=31" target="_blank">36</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=37&amp;version=31" target="_blank">37</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=38&amp;version=31" target="_blank">38</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=39&amp;version=31" target="_blank">39</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=40&amp;version=31" target="_blank">40</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=41&amp;version=31" target="_blank">41</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=42&amp;version=31" target="_blank">42</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=43&amp;version=31" target="_blank">43</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=44&amp;version=31" target="_blank">44</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=45&amp;version=31" target="_blank">45</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=46&amp;version=31" target="_blank">46</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=47&amp;version=31" target="_blank">47</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=48&amp;version=31" target="_blank">48</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=49&amp;version=31" target="_blank">49</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=50&amp;version=31" target="_blank">50</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=51&amp;version=31" target="_blank">51</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=52&amp;version=31" target="_blank">52</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=53&amp;version=31" target="_blank">53</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=54&amp;version=31" target="_blank">54</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=55&amp;version=31" target="_blank">55</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=56&amp;version=31" target="_blank">56</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=57&amp;version=31" target="_blank">57</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=58&amp;version=31" target="_blank">58</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=59&amp;version=31" target="_blank">59</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=60&amp;version=31" target="_blank">60</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=61&amp;version=31" target="_blank">61</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=62&amp;version=31" target="_blank">62</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=63&amp;version=31" target="_blank">63</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=64&amp;version=31" target="_blank">64</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=65&amp;version=31" target="_blank">65</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=66&amp;version=31" target="_blank">66</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=67&amp;version=31" target="_blank">67</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=68&amp;version=31" target="_blank">68</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=69&amp;version=31" target="_blank">69</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=70&amp;version=31" target="_blank">70</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=71&amp;version=31" target="_blank">71</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=72&amp;version=31" target="_blank">72</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=73&amp;version=31" target="_blank">73</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=74&amp;version=31" target="_blank">74</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=75&amp;version=31" target="_blank">75</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=76&amp;version=31" target="_blank">76</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=77&amp;version=31" target="_blank">77</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=78&amp;version=31" target="_blank">78</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=79&amp;version=31" target="_blank">79</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=80&amp;version=31" target="_blank">80</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=81&amp;version=31" target="_blank">81</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=82&amp;version=31" target="_blank">82</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=83&amp;version=31" target="_blank">83</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=84&amp;version=31" target="_blank">84</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=85&amp;version=31" target="_blank">85</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=86&amp;version=31" target="_blank">86</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=87&amp;version=31" target="_blank">87</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=88&amp;version=31" target="_blank">88</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=89&amp;version=31" target="_blank">89</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=90&amp;version=31" target="_blank">90</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=91&amp;version=31" target="_blank">91</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=92&amp;version=31" target="_blank">92</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=93&amp;version=31" target="_blank">93</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=94&amp;version=31" target="_blank">94</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=95&amp;version=31" target="_blank">95</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=96&amp;version=31" target="_blank">96</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=97&amp;version=31" target="_blank">97</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=98&amp;version=31" target="_blank">98</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=99&amp;version=31" target="_blank">99</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=100&amp;version=31" target="_blank">100</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=101&amp;version=31" target="_blank">101</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=102&amp;version=31" target="_blank">102</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=103&amp;version=31" target="_blank">103</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=104&amp;version=31" target="_blank">104</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=105&amp;version=31" target="_blank">105</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=106&amp;version=31" target="_blank">106</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=107&amp;version=31" target="_blank">107</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=108&amp;version=31" target="_blank">108</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=109&amp;version=31" target="_blank">109</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=110&amp;version=31" target="_blank">110</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=111&amp;version=31" target="_blank">111</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=112&amp;version=31" target="_blank">112</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=113&amp;version=31" target="_blank">113</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=114&amp;version=31" target="_blank">114</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=115&amp;version=31" target="_blank">115</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=116&amp;version=31" target="_blank">116</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=117&amp;version=31" target="_blank">117</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=118&amp;version=31" target="_blank">118</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=119&amp;version=31" target="_blank">119</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=120&amp;version=31" target="_blank">120</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=121&amp;version=31" target="_blank">121</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=122&amp;version=31" target="_blank">122</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=123&amp;version=31" target="_blank">123</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=124&amp;version=31" target="_blank">124</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=125&amp;version=31" target="_blank">125</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=126&amp;version=31" target="_blank">126</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=127&amp;version=31" target="_blank">127</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=128&amp;version=31" target="_blank">128</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=129&amp;version=31" target="_blank">129</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=130&amp;version=31" target="_blank">130</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=131&amp;version=31" target="_blank">131</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=132&amp;version=31" target="_blank">132</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=133&amp;version=31" target="_blank">133</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=134&amp;version=31" target="_blank">134</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=135&amp;version=31" target="_blank">135</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=136&amp;version=31" target="_blank">136</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=137&amp;version=31" target="_blank">137</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=138&amp;version=31" target="_blank">138</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=139&amp;version=31" target="_blank">139</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=140&amp;version=31" target="_blank">140</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=141&amp;version=31" target="_blank">141</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=142&amp;version=31" target="_blank">142</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=143&amp;version=31" target="_blank">143</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=144&amp;version=31" target="_blank">144</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=145&amp;version=31" target="_blank">145</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=146&amp;version=31" target="_blank">146</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=147&amp;version=31" target="_blank">147</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=148&amp;version=31" target="_blank">148</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=149&amp;version=31" target="_blank">149</a>
					<a class="px-1" href="http://www.biblegateway.com/passage/?book_id=23&amp;chapter=150&amp;version=31" target="_blank">150</a>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- End Content -->

<!-- Extra padding before footer if needed -->
<div class="psalms-view-bottom-spacingx"></div>