<style>
    video, #container {
        height: 100%;
        width: 100%;
    }

</style>

<!-- Column Video Container - Welcome Video -->
<div class="col-lg-8 pb-lg-3">

	<!-- Row - Loving and Leading Logo -->
	<div class="my-card-body mx-auto show-me-at-the-top">
		<div class="text-center px-4 pt-3 pb-2">
			<img class="love-lead-size" src="~/content/svg/Misc/Loving-Leading-01.svg" />
		</div>
	</div>
	
	<!-- Video -->
	<video class="bg-black w-100 my-card-radius" controls  autoplay loop>
		
		<!-- Current Video -->
		<source src="/Content/Videos/June.m4v#t=3.0" type="video/mp4">

		Your browser does not support the video tag.

	</video>
</div>

@*Old Video Commented Out*@
@*<source src="/Content/Videos/worshipisnotrocketscience.mp4#t=2.7" type="video/mp4">*@
@*poster="/Content/Videos/prayerisnotrocketscience.jpg"*@