<!-- No Access -->
<div class="row gx-0 gx-lg-4">

	<!-- Back Button -->
	<div class="col-3 pt-1 mb-1">
		<div class="h-100 text-center text-white">
			<a class="btn bg-gray-darker btn-sm group-button-size" href="~/">
				<img class="back-button-image-size" src="~/Content/Svg/Buttons/Back-White.svg" /> Home
			</a>
		</div>
	</div>

	<!-- No Access Heading -->
	<div class="col-7 mb-2">
		<p class="fw-bolder fs-1 text-center text-gray-darker pt-2">No Access</p>
	</div>

</div>

<!-- Body -->
<div class="my-card border border-dark bg-gray-lighter my-3 p-2">
	<div class="row gx-0 gx-lg-4 my-3">

		<!-- Column Warning -->
		<div class="col-12 col-lg-2">
			<p class="text-gray-darker fw-bolder text-nowrap fs-5 lh-lg">Warning</p>
		</div>

		<!-- Column You Do Not Have Access -->
		<div class="col-12 col-lg-8 text-gray-darker m-0 p-0">
			<p class="fs-5 lh-lg">
				You do not have Access <br/>Log in and try again.
			</p>				
		</div>

		<!-- Column Log In -->
		<div class="col-12 col-lg-2 text-gray-darker m-0 p-0">
            <div class="m-2 p-2">
                <a class="btn text-dark border border-dark rounded" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
		</div>
	</div>
</div>
<!-- End Content -->

