<!-- Shared Galleries -->
@{
    string gallerysFolder = "gallery";
    string galleryFolder = ViewData["ViewName"]?.ToString() ?? ViewContext.RouteData.Values["action"]?.ToString() ?? "";
    var currentFolder = System.IO.Directory.GetCurrentDirectory();
    var wwwRoot = System.IO.Path.Combine(currentFolder, "wwwroot/");
    var folders = Directory.GetDirectories(System.IO.Path.Combine(currentFolder, $"wwwroot/{gallerysFolder}"))
                           .Select(folder => System.IO.Path.GetFileName(folder))
                           .Where(folder => !System.IO.Path.GetFileName(folder).StartsWith("_"))
                           .ToList();

    // Get the backgroundImage path to change background
    string backgroundImage = $"{gallerysFolder}/background.webp"; // default

    // Loop through possible background extensions
    string[] imageExtensions = { ".jpg", ".png", ".webp", ".svg", 
}; // possible extensions   
    foreach (var extension in imageExtensions)
    {
        var background = $"{gallerysFolder}/background{extension}";
        if (System.IO.File.Exists($"{wwwRoot}{background}"))
        {
            backgroundImage = background;
            break;
        }
    }
}

<div class="text-center mt-3">
    <h2 class="text-white">@galleryFolder</h2>
</div>

<div class="container text-center">
    <div class="row gx-0 gx-lg-4 justify-content-center row-cols-4 row-cols-sm-4 row-cols-md-6 row-cols-lg-8 row-cols-xl-auto  g-1 g-lg-3 mb-3">
       
        @foreach (var folder in folders)
        {
            <div class="col menu-item" data-viewName="@folder">
                <div class="text-center p-0 border border border-dark rounded">
                    <a class="menu-link bg-gray-lighter text-black w-100" asp-controller="@folder">@folder</a>
                </div>
            </div>
        }
    </div>
</div>

<!-- Spacing for Large Screens if needed -->
<div class="galleries-view-bottom-spacing"> </div>

<!-- Replaces the background-image -->
<script>
    $("body").css("background-image", "url('../@Url.Content(backgroundImage)')");
</script>

