/* General Custom Html stuff */
body {
    overflow-y: scroll;
    line-height: 1;
    padding-top: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    /*background-color: #4a4b4c;*/ /* bg-gray */   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* don't like padding and margins on elements by default */
container, div, h1, h2, h3, h4, h5, p{
    cursor:default;
    padding: 0;
    margin: 0;
}

/* make everything a borderbox */
* {
    box-sizing: border-box;
}

/* no border class */
.no-border {
    border: none;
}

/* Cursors */ 
.no-cursor {
    cursor: none;
}
.pointer-cursor {
    cursor: pointer;
}

/**********************/
/* Responsive */
.btn {
    transition: 1s ease-in-out;
}
.show-me-at-the-top {
    display: none;
}
.show-me-at-the-bottom {
    display: inline;
}

/* #region (BS -lg- ) (min-width: 992px) Start of Desktop */
@media (min-width: 992px) {

    .show-me-at-the-top {
        display: inline;
    }
    .show-me-at-the-bottom {
        display: none;
    }   
}
/* #endregion*/
