@{
    ViewData["Title"] = "HurricaneRelief";
}

<!-- Content Image Top (Not shown on Mobile) -->
<div class="container pt-0 pt-md-2 pt-lg-2 px-1 px-lg-4 pb-lg-1 bg-transparent">

	<!-- Row - Image -->
	<div class="row gx-0 gx-lg-4">		

		<!-- Column - Image -->
		<div class="mx-auto col-12 my-0 mt-lg-2 pt-lg-3 pb-lg-2 mb-lg-1 lh-sm">

			<!-- Container - Image -->
			<div class="my-card-body h-100 show-at-top">
				<div class="text-center px-4 pt-3 pb-2">
					<img alt="" class="bird-size-med" src="~/lib/svg/logos/Bird-Bible-Gray.svg" />
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Hurricane video -->
<div class="my-card-radius lh-1 pt-3 pt-lg-2 px-2 px-lg-4 pb-2 bg-gray-lighter mx-auto w-100" style="max-width:550px;">	
	<video id="videoPlayer" class="bg-black my-card-radius" style="width: 100%;" controls="" autoplay="" muted="" loop="">
		<source id="videoSource" src="https://APNazarene.org/Videos/2024_08.mp4#t=3.0" type="video/mp4">
	</video>
</div>
<br  />
<!-- Content Hurricane Relief -->
<div class="my-card-radius lh-1 pt-3 pt-lg-2 px-2 px-lg-4 pb-lg-3 bg-gray-lighter mx-auto w-100" style="max-width:550px;">
	
	<!-- Hurricane Relief Fund -->
	<h4 class="text-gray-darker pt-2 pb-3 text-center">Hurricane Relief Fund</h4>
	
	<!-- About -->
	<p class="fs-5 text-gray-darker pb-2 text-center">
		Wind and rain <br />
		(Hurricane) Insurance... <br />
		unaffordable in Florida. <br />
		Is our Church prepared? <br /><br />
		What  if......?<br />
	</p>	
	<p class="ps-2 pt-2 pe-2 fs-6 bg-gray text-gray-lighter pb-2 rounded border">
		On September 28, 2022, Hurricane Ian<br /><br />
		Anthen Church (Ft Myers Nazarene) <br />
		Suffered over $2 million in damage. <br />
		Insurance only covered part of that cost.<br />
	</p>
	<br /><br />
	<p class="fs-5 text-gray-darker pb-2 text-center">
		What will happen to AP Naz <br />
		if our church is affected by a hurricane?<br />
	</p>
	<p class="fs-5 text-gray-darker pb-2 text-center">
		With wind and hail<br />
		(hurricane) insurance unaffordable...<br />
		How can we prepare for such an event? <br /><br />
	</p>
	<p class="ps-2 pe-2 fs-5 text-gray-darker pb-2 bg-green-lighter rounded border">
		<br />
        Beginning today, we set up a <br /><br />
		<span class="fw-bold">HURRICANE EMERGENCY FUND</span>
		<br /><br />
		All designated funds will be held seperately in an interest-bearing account.<br />
	</p>
	<br />
	<p class="fs-5 bg-green-light text-gray-darker pb-2 rounded border text-center">
		<br />
		We began with a <br />
		starting balance of <br />
        <span class=" fw-bold">$50,000</span> <br />
		<br />
		Our goal is to double that and have<br />
        <span class="fw-bold">$100,000</span> on HAND <br />
        by the end of ths season.<br />
		<br />
	</p>
	<p class="fs-5 text-gray-darker pb-2 text-black rounded border">
		<br />
		Please Designate Gifts: <br /><br />
        <span class="fw-bolder">HURRICANE FUND</span><br />
		Avon Park Church of the Nazarene<br/>
		Po Box 1118<br/>
		Avon Park, Forida 33826<br />
	</p>

	<!-- Give Online -->
	<div class="my-card-body text-center bg-transparent w-100">
		<a title="link" class="nav-link footer-fs" href="https://apnaz.churchtrac.com/give" target="_blank"><img alt="" class="give-online-size" src="/lib/svg/Buttons/giveonlinebutton.svg"></a>
	</div>

	<p class="fs-5 text-gray-darker pb-2 text-black text-center">
		THANK YOU <br />
		FOR <br />
		GIVING! 
	</p>	
	
	<!-- Heading -->
	<p class="fs-5 text-gray-darker ms-3"></p>
			
</div>

<!-- End Content -->

<!-- Change background image and color -->
<script>
	$("body").css("background-image", "url('../PageImages/HurricaneRelief.webp')");
</script>