@{
    ViewData["Title"] = "Home";
}

<!-- Content Container -->
<div class="px-lg-4">

	<!-- Content Row - Heading -->
	<div class="row gx-0 gx-lg-3 align-items-end">

		<!-- Column - Logo and Description -->
		<div class="col-lg-4 pb-lg-3">
			<style>
				
			</style>

			<!-- AP-Logo -->
			<a title="link" href="/">
				<div class="pb-lg-4">
					<div id="container">
                        <img src="~/lib/svg/logos/ap-logo-church-gray-english-white.svg" />
					</div>
				</div>
			</a>

			<!-- Site Description -->
			<div class="my-card-radius text-white my-md-3 my-lg-0 px-2 px-lg-0 pt-2 pb-1 border-dark bg-gray-darker">
				<div>
					<p class="text-white text-center m-0 pt-1 pb-3 px-1 who-are-we-fs">WHO ARE WE?</p>
					<p class="text-white text-start py-1 px-2 our-congregation-fs">Our congregation is a family, part of the global family of people called Nazarenes, who, in turn, are part of the Body of Christ universal.</p>
					<p class="text-white text-center m-0 pb-2 px-1 pt-1 we-invite-you-fs">We invite you to worship <br>and learn with us.</p>
				</div>
			</div>
		</div>

		<!-- Column Video Container - Welcome Video -->
		<div class="col-lg-8 pb-lg-3">

			<!-- Row - Loving and Leading Logo -->
			<div class="my-card-body mx-auto show-at-top">
				<div class="text-center px-4 pt-3 pb-2">
					<img alt="" class="love-lead-size" src="~/lib/svg/Misc/Loving-Leading-01.svg" />
				</div>
			</div>

			<!-- New Auto Year_Month Naming -->
			<video id="videoPlayer" class="bg-black my-card-radius" style="width: 100%;" controls autoplay muted loop>			
				<source id="videoSource" src="" type="video/mp4">
			</video>

		</div>

	</div>

	<!-- Row - Cards -->
	<div class="row gx-0 gx-sm-2 gx-md-3 gx-lg-3 align-content-end">

		<!-- Card Online Worship  (Offsite) -->		
		<div class="col-12 col-md-6 col-lg-4 px-0 pt-3 pt-lg-0 mb-lg-3 lh-sm">

			<!-- Card -->
			<a class="w-100 btn btn-sm" href="https://backtothebible.app/library/p/apnazarene" target="_blank">
				<div class="my-card border-0 home-card-header-color">

				<!-- Header -->
				<div class="w-100 py-2 px-3">
					<h3 class="pb-1">
						<img alt="" class="card-image-size image-light-show" src="/lib/svg/Cards/Cross-White.svg">
						<img alt="" class="card-image-size image-dark-show" src="/lib/svg/Cards/Cross-Black.svg">
						Online Worship
					</h3>
					<p class="fw-normal mb-0">Please join us for Worship</p>
				</div>

				<!-- Footer -->
				<div class="my-card-footer home-card-footer-color w-100">
					<p class="text-center card-text card-body-text-fs p-3 py-2 mb-0">Live Stream and previous services.</p>
					
				</div>
			</div>
			</a>
		</div>

        <!-- Column Container - Members Card (Offsite) -->
        <div class="col-12 col-md-6 col-lg-4 px-0 pt-3 pt-lg-0 mb-lg-3 lh-sm">

            <!-- Card -->
			<a class="w-100 btn btn-sm" href="https://APNaz.churchtrac.com/" target="_blank">
				<div class="my-card border-0 home-card-header-color">

                <!-- Header -->
                <div class="w-100 py-2 px-3">
                    <h3 class="pb-1">
						<img alt="" class="card-image-size image-light-show" src="/lib/svg/Cards/Members-White.svg">
						<img alt="" class="card-image-size image-dark-show" src="/lib/svg/Cards/Members-Black.svg">
                        Member Area
                    </h3>
                    <p class="fw-normal mb-0">Churchtrac Website</p>
                </div>

                <!-- Footer -->
                <div class="my-card-footer home-card-footer-color w-100">
					<p class="text-center card-text card-body-text-fs p-3 py-2 mb-0">Connect with us, Directory, Online Giving</p>

                    <!-- Link -->
                    @* <div class="text-center pt-0 pb-2">
                        <a title="link" class="btn btn-sm btn-primary text-nowrap" href="https://APNaz.churchtrac.com/" target="_blank">Members</a>
                    </div> *@
                </div>
            </div>
			</a>
        </div>

		<!-- Column - Calandar Card (OnSite) -->
		<div class="col-12 col-md-6 col-lg-4 px-0 pt-3 pt-lg-0 mb-lg-3 lh-sm">

            <!-- Card -->
			<a class="w-100 btn btn-sm" href="../Info/Calendar" target="_self">
				<div class="my-card border-0 home-card-header-color">

				<!-- Header -->
				<div class="w-100 py-2 px-3">
					<h3 class="pb-1">
						<img alt="" class="card-image-size image-light-show" src="/lib/svg/Cards/Calendar-White.svg">
						<img alt="" class="card-image-size image-dark-show" src="/lib/svg/Cards/Calendar-Black.svg">
						Our Calendar
					</h3>
					<p class="fw-normal mb-0">Calendar of Events</p>
				</div>

				<!-- Footer -->
				<div class="my-card-footer home-card-footer-color w-100">
					<p class="text-center card-text card-body-text-fs p-3 py-2 mb-0">Keep up by checking our Calendar.</p>

					<!-- Link -->
					<div class="text-center pt-0 pb-2">
						
					</div>
				</div>
			</div>
			</a>
		</div>		

		<!-- Column - Meet Our Staff  (OnSite) -->
		<div class="col-12 col-md-6 col-lg-4 px-0 pt-3 pt-lg-0 mb-lg-3 lh-sm">

			<!-- Card -->
			<a class="w-100 btn btn-sm" href="\info\staff">
				<div class="my-card border-0 home-card-header-color">

				<!-- Header -->
				<div class="w-100 py-2 px-3">
					<h3 class="pb-1">
						<img alt="" class="card-image-size image-light-show" src="/lib/svg/Cards/Staff-White.svg">
						<img alt="" class="card-image-size image-dark-show" src="/lib/svg/Cards/Staff-Black.svg">
						Meet Our Staff
					</h3>
					<p class="fw-normal mb-0">AP Church of the Nazarene</p>
				</div>

				<!-- Footer -->
				<div class="my-card-footer home-card-footer-color w-100">
					<p class="text-center card-text card-body-text-fs p-3 py-2 mb-0">Our wonderful Staff</p>
					
				</div>
			</div>
			</a>
		</div>        

		<!-- Column - Email Sign-up (OffSite) -->
		<div class="col-12 col-md-6 col-lg-4 px-0 pt-3 pt-lg-0 mb-lg-3 lh-sm">

			<!-- Card -->
			<a class="w-100 btn btn-sm" href="https://mailchi.mp/5dc417814456/apncsignup" target="_blank">
				<div class="my-card border-0 home-card-header-color">

				<!-- Header -->
				<div class="w-100 py-2 px-3">
					<h3 class="pb-1">
						<img alt="" class="card-image-size image-light-show" src="/lib/svg/Cards/Email-White.svg">
						<img alt="" class="card-image-size image-dark-show" src="/lib/svg/Cards/Email-Black.svg">
						Email Sign-up
					</h3>
					<p class="fw-normal mb-0">Sign-up for our Emails.</p>
				</div>

				<!-- Footer -->
				<div class="my-card-footer home-card-footer-color w-100">
					<p class="text-center card-text card-body-text-fs p-3 py-2 mb-0">If you have not done so, please sign up.</p>
					
				</div>
			</div>
			</a>
		</div>

        <!-- Column - Desktop Links (OffSite) -->
        <div class="col-12 col-md-6 col-lg-4 px-0 pt-3 pt-lg-0 mb-lg-3 lh-sm">

            <!-- Card -->
			<a class="w-100 btn btn-sm" href="https://wlavonparknazarene.gotandem.com/public" target="_blank">
				<div class="my-card border-0 home-card-header-color">

                <!-- Header -->
                <div class="w-100 py-2 px-3">
                    <h3 class="pb-1">
						<img alt="" class="card-image-size image-light-show" src="/lib/svg/Cards/Links.svg">
						<img alt="" class="card-image-size image-dark-show" src="/lib/svg/Cards/Links.svg">
                        Desktop links
                    </h3>
                    <p class="fw-normal mb-0">Nazarene Connect</p>
                </div>

                <!-- Footer -->
                <div class="my-card-footer home-card-footer-color w-100">
					<p class="text-center card-text card-body-text-fs p-3 py-2 mb-0">Desktop Version of Nazarene Connect.</p>
                    
                </div>
            </div>
			</A>
        </div>				
	</div>

	<!-- Row - Cards Hours -->
	<div class="row gx-0 gx-lg-4 pt-0 py-md-3 py-lg-3 align-content-end">

		<!-- Column - Sunday -->
		<div class="col-12 col-md-6 col-lg-3 mx-auto mb-lg-4 ps-2 ps-lg-0 lh-lg">

			<!-- Sunday Card -->
			<div class="my-card-body px-2 px-lg-2 pt-2 pt-lg-0 bg-transparent">

				<!-- Header -->
				<div class="my-card-header w-100 bg-transparent px-2 px-lg-0 py-2">
					<h2 class="text-white">Sunday</h2>
				</div>

				<!-- Body -->
				<div class="my-card-body text-white font-italic bg-transparent w-100">
					<p class="text-white italic px-2 px-lg-0 pt-1 mb-0 hours-text-fs">
						9:30 am - Sunday School for all ages<br>
						10:45 am - Morning worship<br>
						6:00 pm - Evening Worship
					</p>
				</div>
			</div>
		</div>

		<!-- Column - Tuesday -->
		<div class="col-12 col-md-6 col-lg-3 mx-auto mb-lg-4 ps-2 ps-lg-0 lh-lg">

			<!-- Tuesday Card -->
			<div class="my-card-body px-2 px-lg-0 pt-2 pt-lg-0 bg-transparent">

				<!-- Header -->
				<div class="my-card-header w-100 bg-transparent px-2 px-lg-0 py-2">
					<h2 class="text-white">Tuesday</h2>
				</div>

				<!-- Body -->
				<div class="my-card-body text-white bg-transparent w-100">
					<p class="text-white italic px-2 px-lg-0 pt-1 mb-0 hours-text-fs">
						11:45 am - NAZ Gal*<br>
						 1:30 pm - Prayer Shawl Ministry at Suzy’s
					</p>
				</div>

				<!-- Footer Comments -->
				<div class="my-card-footer w-100 bg-transparent p-0">
					<p class="text-white italic px-2 px-lg-0 pt-1 mb-0 hours-text-fs">
						*(Check the bulletin for location)
					</p>
				</div>
			</div>
		</div>

		<!-- Column - Wednesday -->
		<div class="col-12 col-md-6 col-lg-3 mx-auto mb-lg-3 ps-2 ps-lg-0 lh-lg">

			<!-- Wednesday Card -->
			<div class="my-card-body px-2 px-lg-0 pt-2 pt-lg-0 bg-transparent">

				<!-- Header -->
				<div class="my-card-header w-100 bg-transparent px-2 px-lg-0 py-2">
					<h2 class="text-white">Wednesday</h2>
				</div>

				<!-- Body -->
				<div class="my-card-body text-white bg-transparent w-100">
					<p class="text-white italic px-2 px-lg-0 pt-1 mb-0 hours-text-fs">
						3:00 pm - Prayer Meeting at Bonnie's<br>
						6:00 pm - Prayer, Praise, and Bible Study
					</p>
				</div>
			</div>
		</div>

		<!-- Column - Thursday -->
		<div class="col-12 col-md-6 col-lg-3 mx-auto mb-lg-4 ps-2 ps-lg-0 lh-lg">

			<!-- Thursday Card -->
			<div class="my-card-body px-2 px-lg-0 pt-2 pt-lg-0 bg-transparent">

				<!-- Header -->
				<div class="my-card-header w-100 bg-transparent px-2 px-lg-0 py-2">
					<h2 class="text-white">Thursday</h2>
				</div>

				<!-- Body -->
				<div class="my-card-body text-white bg-transparent w-100">
					<p class="text-white italic px-2 px-lg-0 pt-1 mb-0 hours-text-fs">						
						Noon - NAZ Guyz*
					</p>
				</div>				
			</div>
		</div>

		<!-- Column - Give Online -->
		<div class="col-12 mb-lg-3">

			<!-- Give Online -->
			<div class="my-card-body text-center bg-transparent w-100">
				<a title="link" class="nav-link footer-fs" href="https://apnaz.churchtrac.com" target="_blank"><img alt="" class="give-online-size" src="/lib/svg/Buttons/giveonlinebutton.svg"></a>
			</div>
		</div>
		
	</div>

	<!-- Row - Bottom Logo -->
	<div class="row gx-0 gx-lg-4 show-at-bottom">

		<!-- Column - Logo -->
		<div class="mx-auto col-12 mt-2 pt-lg-3 pb-lg-4 mb-lg-1 lh-sm">

			<!-- Container - Logo -->
			<div class="my-card-body h-100">
				<div class="text-center px-4 pt-3 pb-2">
					<img alt="" class="love-lead-size" src="/lib/svg/Misc/Loving-Leading-01.svg">
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$("body").css("background-color", "#40996D"); /* bg-green-dark */
	$("body").css("background-image", "url('../PageImages/BackgroundBlurr.webp')");
</script>

<!-- Get the current videoName (dynamic dating) -->
<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Get the current date
		const currentDate = new Date();
		const currentMonth = (currentDate.getMonth() + 1).toString().padStart(2, '0'); // Zero-padding the month
		const currentYear = currentDate.getFullYear();

		// Construct the video source URL based on the current date (change the t=2.0 to control where video starts)
		const videoName = `videos/${currentYear}_${currentMonth}.mp4#t=3.0`;

		// Set the source of the <video> element
		const videoSource = document.getElementById("videoSource");
		videoSource.src = videoName;

		// Reload the video to apply the new source
		const videoPlayer = document.getElementById("videoPlayer");
		videoPlayer.load();
	});
</script>