@{
	ViewData["Title"] = "Nazarenes";
}

<!-- Content Image Top -->
<div Class="container pt-0 pt-md-2 pt-lg-2 px-1 px-lg-4 pb-lg-3 bg-transparent">

	<!-- Row - Image -->
	<div class="row gx-0 gx-lg-4">

		<!-- Column - Image -->
		<div class="mx-auto col-12 my-0 mt-lg-2 pt-lg-3 pb-lg-4 mb-lg-1 lh-sm">

			<!-- Container - Image -->
			<div class="my-card-body h-100 show-at-top">
				<div class="text-center px-4 pt-3 pb-2">
					<img alt="" class="bird-size-med" src="~/lib/svg/logos/Bird-white.svg" />
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Content -->
<div class="my-card-radius pt-3 pt-lg-2 px-2 px-lg-4 pb-lg-3 bg-gray-lighter mx-auto w-100" style="max-width:600px;">

	<!-- Church of the Nazarene Heading -->
	<h3 class="text-decoration-underline text-gray-darker pb-3">Church of the Nazarene</h3>

	<!-- Nazarene Description-->
	<p class="text-gray-darker fw-normal fs-6 mb-0 lh-sm ms-2 pb-3">
		The Church of the Nazarene is a Protestant Christian church in the Wesleyan-Holiness tradition, 
		tracing its roots to an anniversary date of 1908. It was founded to spread the message of scriptural 
		holiness (Christlike living) across the lands. Today, the Church of the Nazarene is located in 156 
		world areas. The Church of the Nazarene is a Great Commission church.
	</p>
	<p class="text-gray-darker fw-normal fs-6 mb-0 lh-sm ms-2 pb-3">
		Our mission is to make Christlike disciples in the nations. We believe that God offers to everyone 
		forgiveness, peace, joy, purpose, love, meaning in life, and the promise of heaven when life is over 
		by entering and experiencing a personal relationship with God through Jesus Christ. We are called to 
		take this message to people everywhere.
	</p>
	<p class="text-gray-darker fw-normal fs-6 mb-0 lh-sm ms-2 pb-3">
		The Church of the Nazarene is also a Holiness Church.
		We believe that Christians can experience a deeper level of life in which there is victory over sin, 
		power to witness and serve, and a richer fellowship with God all through the infilling of the Holy 
		Spirit. With over 24,000 congregations, our vision and mission embraces the entire world.
	</p>
	<p class="text-gray-darker fw-normal fs-6 mb-0 lh-sm ms-2 pb-3">
		Each local congregation of the Church of the Nazarene is a faith community ready to greet you in Jesus'
		name. There, you will discover opportunities not only to encounter Jesus as your Savior and Lord, but 
		also to grow as a follower of Christ. Local churches offer worship, opportunities for serving others, 
		fellowship, and training. We invite you to experience the unique fellowship of your nearby Church of 
		the Nazarene.
	</p>
		
	<!-- Statement of Belief Heading -->
	<h4 class="text-decoration-underline text-gray-darker pb-3"><span class="text-nowrap">Agreed Statement</span> <span class="text-nowrap">of Belief</span></h4>

	<!-- Beliefs -->
	<p class="fs-5 text-gray-darker ms-1 pb-2">
        <span class="text-nowrap">These are the beliefs</span> <span class="text-nowrap">Nazarenes hold to be true:</span>
	</p>

	<!-- We Love People Table -->
	<table class="table-sm table-borderless mx-auto ms-lg-5 w-75 pb-2">
		<tbody>
			<tr class=" align-text-top lh-sm">				
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						<b>We Believe</b> in one God-the Father, Son, and Holy Spirit.
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">				
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						<b>We Believe</b> that the Old and New Testament Scriptures, given by plenary inspiration,
						contain all truth necessary to faith and Christian living.
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						<b>We Believe</b> that human beings are born with a fallen nature and are therefore
						inclined to evil continually.
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						<b>We Believe</b> that the finally impenitent are hopelessly and eternally lost.
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						<b>We Believe</b> that the atonement through Jesus Christ is for the whole human race;
						and that whosoever repents and believes in the Lord Jesus Christ is
						justified and regenerated and saved from the dominion of sin.
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						<b>We Believe</b> that the atonement through Jesus Christ is for the whole human race;
						and that whosoever repents and believes in the Lord Jesus Christ is
						justified and regenerated and saved from the dominion of sin.
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						<b>We Believe</b> that believers are to be sanctified wholly and subsequent to regeneration
						through faith in the Lord Jesus Christ.
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						<b>We Believe</b> that the Holy Spirit bears witness to the new birth and also to the entire
						sanctification of believers.
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						<b>We Believe</b> that our Lord will return, the dead will be raised, and the final judgment will take place.
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<br />
<br />
<br />

<!-- End Content -->

<!-- Change background image and color -->
<script>	
	$("body").css("background-image", "url('../PageImages/Nazarenes.webp')");
</script>
